[submodule "video/DensePose"]
	path = video/DensePose
	url = https://github.com/facebookresearch/DensePose.git
[submodule "NLP/fairseq"]
	path = NLP/fairseq
	url = https://github.com/facebookresearch/fairseq.git
[submodule "tensorflow/tensor2tensor"]
	path = tensorflow/tensor2tensor
	url = https://github.com/tensorflow/tensor2tensor.git
[submodule "NLP/seq2seq"]
	path = NLP/seq2seq
	url = https://github.com/google/seq2seq.git
[submodule "data/awesome-datascience"]
	path = data/awesome-datascience
	url = https://github.com/bulutyazilim/awesome-datascience.git
[submodule "tensorflow/Distributed-TensorFlow-Guide"]
	path = tensorflow/Distributed-TensorFlow-Guide
	url = https://github.com/tmulc18/Distributed-TensorFlow-Guide.git
[submodule "gan/iGAN"]
	path = gan/iGAN
	url = https://github.com/junyanz/iGAN.git
[submodule "NLP/fastText"]
	path = NLP/fastText
	url = https://github.com/facebookresearch/fastText.git
[submodule "art/magenta"]
	path = art/magenta
	url = https://github.com/tensorflow/magenta.git
[submodule "stock/StockPrediction"]
	path = stock/StockPrediction
	url = https://github.com/IsaacChanghau/StockPrediction.git
[submodule "stock/stock-rnn"]
	path = stock/stock-rnn
	url = https://github.com/lilianweng/stock-rnn.git
[submodule "game/DeepLearningFlappyBird"]
	path = game/DeepLearningFlappyBird
	url = https://github.com/yenchenlin/DeepLearningFlappyBird.git
[submodule "video/tvnet"]
	path = video/tvnet
	url = https://github.com/LijieFan/tvnet.git
[submodule "pytorch/ELF"]
	path = pytorch/ELF
	url = https://github.com/pytorch/ELF.git
[submodule "game/PhoenixGo"]
	path = game/PhoenixGo
	url = https://github.com/Tencent/PhoenixGo.git
[submodule "data/Chinese-Word-Vectors"]
	path = data/Chinese-Word-Vectors
	url = https://github.com/Embedding/Chinese-Word-Vectors.git
[submodule "stock/data/stocknet-dataset"]
	path = stock/data/stocknet-dataset
	url = https://github.com/yumoxu/stocknet-dataset.git
[submodule "video/yolo-9000"]
	path = video/yolo-9000
	url = https://github.com/philipperemy/yolo-9000.git
[submodule "poetry/chinese-poetry-zhCN"]
	path = poetry/chinese-poetry-zhCN
	url = https://github.com/chinese-poetry/chinese-poetry-zhCN.git
[submodule "tensorflow/model_analysis"]
	path = tensorflow/model_analysis
	url = https://github.com/tensorflow/model-analysis.git
[submodule "video/DBNet"]
	path = video/DBNet
	url = https://github.com/driving-behavior/DBNet
[submodule "toturials/100-Days-Of-ML-Code"]
	path = toturials/100-Days-Of-ML-Code
	url = https://github.com/Avik-Jain/100-Days-Of-ML-Code.git
[submodule "pytorch/Detectron"]
	path = pytorch/Detectron
	url = https://github.com/facebookresearch/Detectron.git
[submodule "Image/MemeProject"]
	path = Image/MemeProject
	url = https://github.com/alpv95/MemeProject.git
[submodule "toturials/pytorch-tutorial"]
	path = toturials/pytorch-tutorial
	url = https://github.com/yunjey/pytorch-tutorial.git
[submodule "NLP/OpenNMT-py"]
	path = NLP/OpenNMT-py
	url = https://github.com/OpenNMT/OpenNMT-py.git
[submodule "writer/AAPR"]
	path = writer/AAPR
	url = https://github.com/lancopku/AAPR.git
[submodule "data/tencent-ml-images"]
	path = data/tencent-ml-images
	url = https://github.com/Tencent/tencent-ml-images.git
[submodule "Image/DeepCreamPy"]
	path = Image/DeepCreamPy
	url = https://github.com/deeppomf/DeepCreamPy.git
